<% if !current_user %> 
  <% menu_items = [
    { :link => merchandises_path, :name => 'List of merchandises'}, 
    { :link => new_user_registration_path, :name => 'Sign Up' },
    { :link => new_user_session_path, :name => 'Sign In' },
    { :link => "", :name => 'About Us', :disabled => true }
  ] -%>
<% else %>
  <% if current_user.role_id == 3 %>
    <% menu_items = [
      { :link => merchandises_path, :name => 'List of merchandises' }, 
      { :link => carts_list_path, :name => 'Shopping Cart' },
      { :link => orders_path, :name => 'Orders' },
      { :link => "", :name => 'About Us', :disabled => true },
      { :link => destroy_user_session_path, :name => 'Sign Out', :method => "delete" }
    ] -%>
  <% elsif current_user.role_id == 2 %>
    <% menu_items = [
      { :link => merchandises_path, :name => 'List of merchandises' },
      { :link => new_merchandise_path, :name => 'New Merchandise' },
      { :link => customers_path, :name => 'Customer Management' },
      { :link => orders_path, :name => 'Order Management' },
      { :link => destroy_user_session_path, :name => 'Sign Out', :method => "delete" } 
      ] -%>
  <% else %>
    <% menu_items = [
      { :link => users_path, :name => 'List Users' },
      { :link => welcome_master_menu_path, :name => 'Master Tables Maintenance', :disabled => true },
      { :link => destroy_user_session_path, :name => 'Sign Out', :method => "delete" } 
      ] -%>
  <% end %>
<% end %>

<div id = "menu_bar">
  <% menu_items.each_with_index do |item, index| -%>
    <% if index > 0 %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<% end -%>
    <%= menu_link_to item -%> 
  <% end -%>
</div>
